.container {
  height: 100vh;
  width: 100%;
  background: url(/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.innercontainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.5), white, white);
}

.content{
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.logo{
  width: 10rem;
}

.logo img{
  width: 100%;
}

.tagline{
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.btn{
  text-align: center;
  background-color: #3cb371;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.btn a{
  color: white;
}